<!DOCTYPE html>
<html lang="en">

<head>
    <title>Property Listing</title>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport" /> {% load static %}
    <link rel="stylesheet" href=
"https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"/>
    <script src=
"https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
    </script>
    <script src=
"https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js">
    </script>
</head>

<body>
    {% include "navbar.html" %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10">
                {% for property in properties %}
                <div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title text-center">Properties Dashboard</h3>
					</div>
                    <table class="table table-hover" id="dev-table">
                        <tr>
                            <td>
                                {% if property.property_type == 'Villa' %}
                                    <img src="/media/villa.jpg" alt="Villa" style="width:20%;">
                                {% elif  property.property_type == 'Apartment' %}
                                    <img src="/media/apartment.jpg" alt="Apartment" style="width:20%;">
                                {% elif  property.property_type == 'Individual House' %}
                                    <img src="/media/ihouse.jpg" alt="Individual House" style="width:20%;">
                                {% else %}
                                <img src="/media/sc.jpg" alt="Shopping Complex" style="width:20%;">
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Property Name : {{property.property_name}}
                            </td>
                            <td>
                                Owner Name : {{property.owner_name}}
                            </td>
                            <td>
                                Property Type : {{property.property_type}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Location : {{property.location}}
                            </td>
                            <td>
                                Landmark : {{property.landmark}}
                            </td>
                            <td>
                                Pincode : {{property.pincode}}
                            </td>
                            <td>
                                <a href="/properties/bookProperty/{{property.id}}"><button class="bg-primary">Book</button></a>
                            </td>
                        </tr>
                    </table>
                </div>
                {% endfor %}
			</div>
        </div>
    </div>
</body>
</html>